<!--The content below is only a placeholder and can be replaced.-->
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<h2>TODO</h2>
  <!--Navbar-->
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/todo">TODO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pendingTodo">PENDING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/completeTodo">COMPLETED</a>
          </li>
        </ul>
      
      </nav>
<!--/.Navbar-->
<div >
<router-outlet></router-outlet>
</div>