<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">_ID</th>
    <th scope="col">TASK</th>
    <th scope="col">STATUS</th>
    <th scope="col">ACTION</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tdts of todoTask; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ tdts._id }}
    </td>
    <td>{{ tdts.task }}</td>
    <td>{{ tdts.state  }}</td>
    <td > <button class="btn btn-primary"  *ngIf="todoTask[i].state === 'pending'" (click)="changeStatus(tdts._id)">Complete</button> </td>

  </tr>
  </tbody>
</table>
