<!-- 
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button> -->



<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Task</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #taskForm="ngForm" (ngSubmit)="onSubmit();modal.dismiss('submit')" novalidate>
        <div class="form-group">
         
          <div class="input-group">
              <label> Task:
                  <input #taskName="ngModel" name="task" [(ngModel)]="todoModel.task"/>
              </label>
            
          </div>
        </div>
        <button class="btn btn-primary" type="submit" >Submit Form</button>
      </form>
    </div>
   
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)" >Add Task +</button>
  
  <hr>
  
  <pre>{{closeResult}}</pre>


<table datatable class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">_ID</th>
      <th scope="col">TASK</th>
      <th scope="col">STATUS</th>
      <th scope="col">ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tdts of todoTask; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ tdts._id }}
      </td>
      <td>{{ tdts.task }}</td>
      <td>{{ tdts.state  }}</td>
      <td > <button class="btn btn-primary"  *ngIf="todoTask[i].state === 'pending'" (click)="changeStatus(tdts._id)">Complete</button> </td>
    </tr>
    </tbody>
  </table>

  <!-- <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>
  
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div> -->

