/* You can add global styles to this file, and also import other style files */
li{
    float: left;
    list-style-type: none;
    padding:10px 15px;
    margin-left:10px;
    background-color: bisque;
    font-size: 20px;
}
li a{
    text-decoration: none;
}